(
    prehooks: [
        Exec (
            id: "prehook",
            bin: "./example/prehook.sh",
            args: [],
            stdout: Json,
            stderr: Ignore,
        ),
        Render(
            path: "./example/test.yml",
        ),
    ],
    services: [
    ],
    log_files: [
        "/dev/stdout",
    ],
)
